<div class="auth-wrapper">
  <!-- [ reset-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row text-center">
        <div class="col-md-10">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400">Reset your password</h4>
              <form [formGroup]="email">
                <div class="input-group mb-4">
                  <input type="email" class="form-control" formControlName="sEmail" placeholder="Email address">
                </div>
                <button class="btn btn-block btn-primary mb-4" [disabled]='email.invalid' (click) = 'reset()'>Reset password</button>
              </form>
            <p class="mb-0 text-muted">Back to signin page<a routerLink='/auth/signin' class="f-w-400">   Signin</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ reset-password ] end -->
</div>
