<div class="auth-wrapper">
  <div class="blur-bg-images"></div>
  <!-- [ change-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-4 f-w-400">Change your password</h4>
            <form [formGroup]="changepassword">
            <div class="form-group mb-2">
              <input type="password" formControlName="sPass" class="form-control" placeholder="Current Password">
            </div>
            <div class="form-group mb-2">
              <input type="password" #scnpass formControlName="scnPass" class="form-control" placeholder="New Password">
            </div>
            <div class = 'alert alert-warning' *ngIf="sPass.hasError('minlength')">Minimum must be 6</div>
            <div class="alert alert-success" *ngIf = '!(scnpass.value | alphaNumbericPassword) && changepassword.controls.scnPass.dirty'>Password must contain one Capital, one small letter and one character</div>
            <div class="form-group mb-4">
              <input type="password" #scnpass1 formControlName="scnPass1" class="form-control" placeholder="Re-Type New Password">
            </div>
            <div class="alert alert-success"  *ngIf="!(scnpass.value | confirmPassword: scnpass1.value) && changepassword.controls.scnPass1.dirty">Password doesn't match</div>
            <button type="submit" (click)='changePassword()' class="btn btn-block btn-primary mb-4" [disabled] = 'changepassword.invalid || !(scnpass.value | confirmPassword: scnpass1.value) || !(scnpass.value | alphaNumbericPassword)'>Change password</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ change-password ] end -->
</div>
