<div *ngFor="let item of count$ | async">
<div class="user-profile user-card mb-3" style="margin-top: 2%;">
  <div class="card-body py-0">
    <div class="user-about-block m-0">
      <div class="row">
        <div class="col-md-4 text-center mt-n5">
          <div class="change-profile text-center">
            <div class="dropdown w-auto d-inline-block" ngbDropdown>
              <a class="dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                <div class="profile-dp">
                  <div class="position-relative d-inline-block">
                  </div>
                </div>
              </a>
            </div>
          </div>
            <h5 class="mb-0">{{item.sFname}}  {{item.sLname}}</h5>
          <p class="mb-2 text-muted">Mean Devloper</p>
        </div>
        <div class="col-md-8 mt-md-4">
          <div class="row">
            <div class="col-md-6">
              <div class="clearfix"></div>
              <a href="mailto:{{item.sEmail}}" class="mb-1 text-muted d-flex align-items-end text-h-primary"><i class="feather icon-mail mr-2 f-18"></i>{{item.sEmail}}</a>
              <div class="clearfix"></div>

            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="media-body">
                  <p class="mb-0 text-muted"><i class="feather icon-phone mr-2 f-18"></i>{{item.nMob}}</p>
                </div>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'profile'}" (click)="this.activeTab = 'profile'" id="profile-tab" data-toggle="tab" href="javascript:" role="tab" aria-controls="profile" aria-selected="false"><i class="feather icon-user mr-2"></i>Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- profile body start -->
<div class="row">
  <div class="col-md-8 order-md-2">
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'profile'}" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Personal details</h5>
            <button type="button" (click)="this.editProfile = !this.editProfile;
            this.editProfileIcon = this.editProfile ? 'icon-x' : 'icon-edit';" class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit" aria-expanded="false" aria-controls="pro-det-edit-1 pro-det-edit-2">
              <i class="feather" [ngClass]="editProfileIcon"></i>
            </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Full Name</label>
              <div class="col-sm-9">
                {{item.sFname}}  {{item.sLname}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Gender</label>
              <div class="col-sm-9">
                {{item.sGender}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Mobile Number</label>
              <div class="col-sm-9">
                {{item.nMob}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Email Address</label>
              <div class="col-sm-9">
                {{item.sEmail}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Username</label>
              <div class="col-sm-9">
                {{item.sUname}}
              </div>
            </div>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile">
            <form [formGroup]="editForm">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">First Name</label>
              <div class="col-sm-9">
                <input type="text" formControlName='sFname' [(ngModel)]="sfname" class="form-control" placeholder="First Name">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Last Name</label>
              <div class="col-sm-9">
                <input type="text" formControlName='sLname' [(ngModel)]="slname" class="form-control" placeholder="Last Name" value="{{item.sLname}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Gender</label>
              <div class="col-sm-9">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" formControlName='sGender' name="sGender" id="customRadioInline1" class="custom-control-input" value="male">
                  <label class="custom-control-label" for="customRadioInline1">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" formControlName='sGender' name="sGender" id="customRadioInline2" class="custom-control-input" value="female">
                  <label class="custom-control-label" for="customRadioInline2">Female</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Mobile Number</label>
              <div class="col-sm-9">
                <input type="text" formControlName='nMob' [(ngModel)]="nmob" class="form-control" placeholder="Mobile Number" value="{{item.nMob}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Email Address</label>
              <div class="col-sm-9">
                <input type="text" [(ngModel)]="semail" formControlName='sEmail' class="form-control" placeholder="Email" value="{{item.sEmail}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">User Name</label>
              <div class="col-sm-9">
                <input type="text" #suName [(ngModel)]="suname" formControlName='sUname' class="form-control" placeholder="UserName" value="{{item.sUname}}">
                <div class="alert alert-danger" *ngIf="!(suName.value | alphaNumbericUsername) && editForm.controls.sUname.dirty">Username should have one letter one character and one Number</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <button type="submit" [disabled] = 'editForm.invalid || !(suName.value | alphaNumbericUsername)' (click)='update()' class="btn btn-primary">Save</button>
              </div>
            </div>
          </form>
          </app-card>
        </div>
<router-outlet></router-outlet>
<!-- profile body end -->
</div>